body{
    background-color: rgba(231, 229, 229, 0.855);
}

.text-center{
    text-align: center;
}

h3 {
    font-size: 240%;
}

#heading {
    font-size: 350%;
}

#rules{
    font-size: 150%;
}




#choice{
    background: coral;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#rock{
    padding: 20px;
}

#paper {
    padding: 20px;
}

#scissors{
    padding:20px;
}

.winnertally{
    font-size: 150%;
}

input[type=reset] {
    margin-top: 75px;
    margin-bottom: 0.5rem;
    padding: 10px;
    font-size: 25px;
    border: dotted;
    border-radius: 50%;
}